body {
    background-color: wheat;
}
h1 {
    color:sienna
}
h2 {
    color:tomato
}
h3 {
    color:olivedrab
}
button {
    height: 150px;
    width: 550px;
}
.Alt {
    display: flex;
    flex-direction: column;
}
.Tom_side_h {
    width: 125px;
}
.Tom_side_v {
    width: 275px;
}
.Tom_h {
    width: 50px;
}
.Tom_v {
    width: 50px;
}
.Home {
    display: flex;
    height: 200px;    
}
.Header {
    align-content: center;
}
.Nav {
    display: flex;
    flex-direction: column;
}
.Tomt {
    height: 50px;
}
.Pris {
    height: 30px;
}
.Info {
    display: flex;
    flex-direction: row;
    margin-bottom: 3000px;
}
.Venstre-div {
    width: 50% ;
}
.Høyre-div {
    width: 50% ;
}
.Product_div {
    display:flex;
    flex-direction: column;
    align-content: center;
}
.bilde_div {
    display: flex;
    justify-content: center;
}
.scam {
    align-self: center;
    width: 900px;
}
.bilde {
    height: 250px ;
}
iframe {
    align-self: center;
}
.Ad {
    text-align: center;
}
.Product {
    text-align: center;
}
.Product_price {
    text-align: center;
}
.Price {
    text-align: center;
}
.Product_info {
    text-align: center;
}
.store-image {
    display: flex;
    justify-content: center;
}
.div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart {
    display: flex;
    justify-content: center;
}